---
layout: compress
---
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->  
{% include head.html %}
<link id="theme-style" rel="stylesheet" href="{{site.baseurl}}/assets/css/home.css">

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light myNav">
        <div class="container">

          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">{{ site.data.navigation.nav_title }}</a>
          </div>
          <div class="collapse navbar-collapse" id="main-navbar">
            <ul class="nav navbar-nav navbar-right">
                {% for item in site.data.navigation.items %}
                   <li><a href="{{ item.url }}">{{ item.title }}</a></li>
                {% endfor %}
             </ul>
          </div>
          <!-- <div class="avatar-container">
            <div class="avatar-img-border">
              <a href="http://emanuelfontelles.github.io ">
                <img class="avatar-img" src="/img/avatar-icon.jpeg">
              </a>
            </div>
          </div> -->
        </div>
      </nav>  
      
      <div role="main" class="container main-content">
      
        <header class="header-page">
          <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
              <div class="page-heading">
                <h1>Welcome!</h1>                    
                <hr class="small">
                <span class="page-subheading">My personal web page and blog</span>
              </div>
            </div>
          </div>
        </header>
        
        
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="posts-list">
        {% for item in site.data.posts.items %}
            <article class="post-preview">                  
            <a href="{{item.url}}">
              <h2 class="post-title">{{item.title}}</h2>
              <h3 class="post-subtitle">
                Random Split, Stratified Slit in 'How your metrics could be affect'
              </h3>
            </a>
            <p class="post-meta">
              Posted on July 20, 2019
            </p>
            <div class="post-entry">
              From a binary class pespective 1+1=3 As simple as Logistic Regression Validation model  When to split  Preprocessing import numpy as np import seaborn as sns; import matplotlib.pyplot as...
              <a href="{{item.url}}" class="post-read-more">[Read&nbsp;More]</a>
            </div>
           </article>
         {% endfor %}              
        </div>
          </div>
        </div>
        
            </div>
    {% include homeFooter.html %}
    {% include scripts.html %}
</body>
</html> 

